<footer class="mt-auto">
  <div class="py-5 border-top">
    <div class="container">
      <div class="row">

        {%- for footer-section in site.footer -%}
        <div class="col-md text-center">
          {%- if footer-section.title -%}
          <h5 class="footer-title">{{ footer-section.title }}</h5>
          {%- endif -%}
          <img class="footer-logo" style="width:{{footer-section.width-logo}};" src="{{ site.baseurl }}/assets/img/{{footer-section.image-logo}}" alt="{{ footer-section.image-name }}">

          {%- if footer-section.image-name2 -%}
          <img class="footer-logo" style="width:{{footer-section.width-logo2}};" src="{{ site.baseurl }}/assets/img/{{footer-section.image-logo2}}"
            alt="{{ footer-section.image-name2 }}">
          {%- endif -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</footer>