<!-- Mobile Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top d-block d-sm-none" id="mobile-navbar">
  <div class="container-fluid">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | size -%}
    <a class="navbar-brand" rel="author" href="{{ '/'' | relative_url }}"><img src="{{ site.baseurl }}/assets/img/{{ site.image }}">{{ site.title | escape }}</a>
    <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="/assets/img/{{ site.image | prepend: site.baseurl }}"></a> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {%- if titles_size > 0 -%}
      <ul class="navbar-nav ml-auto">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              <li class="nav-item {% if my_page.url == page.url %}active{% endif %} {% if my_page.title == "About" %}line{% endif %}">
                <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
  </div>
</nav>

<!-- Desktop Navbar -->
<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark d-none d-sm-block" id="desktop-navbar">
    <div class="container-fluid">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | size -%}
    <a class="navbar-brand" rel="author" href="{{ '/'' | relative_url }}"><img src="{{ site.baseurl }}/assets/img/{{ site.image }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      {%- if titles_size > 0 -%}
        <ul class="navbar-nav align-self-end" id="nav">
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li class="nav-item {% if my_page.url == page.url %}active{% endif %} {% if my_page.title == "About" %}line{% endif %}">
                <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
            {%- endif -%}
            {%- endfor -%}
            <li class="nav-item dropdown d-none">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ site.menu_button_title | escape }}
                </a>
                <ul class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownMenu">
                </ul>
            </li>
        </ul>
        {%- endif -%}
    </div>
    </div>
</nav>