.home-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.1)),color-stop(75%,rgba(22,22,22,.5)),to(#161616)),url('#{$bgHome}');
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url('#{$bgHome}');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-size: 70px;
        line-height: 75px;
        margin-bottom: 2rem;
        font-weight: bolder;
    }
    
    h1,
    p {
        color: $white;
    }
    p {
        font-size: 1.7rem;
    }
    a {
        @extend .btn;
        @extend .btn-primary;
        margin: 2rem 0.5rem 1rem 0.5rem;
    }
}

@media (min-width: 992px) {
    .home-content {
        height: 100vh;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .home-content {

        h1 {
            font-size: 60px;
            line-height: 65px;
        }
        p {
            font-size: 1.4rem;
        }
    }
}