// Home page

.home-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    // background-image: url('./img/bg-masthead.jpg');
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(22,22,22,.1)),color-stop(75%,rgba(22,22,22,.5)),to(#161616)),url('./img/bg-masthead.jpg');
    background: linear-gradient(to bottom,rgba(22,22,22,.1) 0,rgba(22,22,22,.5) 75%,#161616 100%),url('./img/bg-masthead.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1.first-title {
		font-size: 70px;
		line-height: 75px;
		margin-bottom: 100px;
	}

	.home-buttons {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
}

@media (min-width: 992px) {
	.home-content {
	    height: 100vh;
	    padding: 0;
	}
}