
section.page,
section.posts-page,
section.post-page,
section#contracts_page {
    padding-top: 7rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

blockquote {
    padding: 13.5px 27px;
    margin: 0 0 27px;
    font-size: 18px;
    border-left: 5px solid $primary;
}

blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
    margin-bottom: 0;
}

a {
    transition: all .35s;
    word-wrap: break-word;
}

.min-vh-100 {
    min-height: 100vh !important;
}
