div.tooltip-graph {
    font-family: Lato;
    font-size: 13px;
    line-height: 15px;
    position: absolute;
    max-width: 300px;
    padding: 10px;
    background: #fff;
    border: 0;
    border-radius: 2px;
    z-index: 1001;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .2);
    text-align: left
}

div.tooltip-graph ul {
    margin-left: 15px;
    list-style: square
}

div.tooltip-graph * {
    pointer-events: none;
    color: $dark;
    margin: 0
}

div.tooltip-graph .title {
    font-weight: bold;
    margin-bottom: 10px;
    color: $graphTooltipTitleColor;
}

div.tooltip-graph a {
    pointer-events: auto;
    color: $link-color;
    cursor: pointer;
    word-wrap: break-word
}

div.tooltip-graph a:hover {
    color: $link-hover-color;
}
